body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 6vh;
  background-color: #2b2e4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 90vh;
  background-color: #edf2f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #2f2f2f;
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td.yes {
  color: #009900;
}

td.no {
  color: #ff0000;
}

footer {
  width: 100%;
  height: 4vh;
  background-color: #2b2e4d;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.titulo {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.footer {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 20px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parrafo{
    width: 60%;
    text-align: justify;
}